.btn-logout {
    display: none;
}

@media (max-width: 768px) {
    .btn-logout {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-top: 15px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: #2a292b;
        border: none;
        border-radius: 5px;
    }
    .nn-but {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-top: 15px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: #2a292b;
        border: none;
        border-radius: 5px;
    }
    .rounded-circle.img-fluid {
        width: 150px; /* Adjust the size as needed */
        height: 150px; /* Adjust the size as needed */
    }
}