@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html,

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.App{
  width: 100%;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* ::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
} */

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #232f3e;
  padding: 1rem 1rem;
}

.navigation-links a,
.categories {
  color: #2a292b;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text shadow */
  
}

.navigation-links a:hover {
  text-decoration: none;
}


#search_btn {
  background-color: white;
  border: 1px solid grey;
}
.mobile-navbar{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);  
  

}
.input-group {
  width: 70%;
  margin-right: 10%;
  margin-bottom: 3%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}

.username {
  color: #2a292b
}

#login_btn,
#view_btn {
  background-color: white;
  font-family: calibri;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}

#cart {
  font-size: 1rem;
  color: #2a292b;
}

#cart_count {
  background-color: #2a292b;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 1.8rem;
  font-family: 'Poppins', sans-serif;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #2a292b;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #2a292b;
  color: white;
}

.card-img-top {
  width: 150px;
  height: 150px;
}

.ratings {
  font-size: 0.8rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  /* margin-left: 0.5rem; */
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}


.image-container:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}


.image-container .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
}


.image-container:hover .label {
  opacity: 1;
}

@media (max-width: 600px) {
  .image-container-wrapper {
    flex-direction: row;
  }

  .image-container {
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .image-container .label {
    font-size: 15px;
  }

  #products_heading {
    font-size: 15px;
    font-family: 'Cinzel', sans-serif;
    margin-top: 0;
  }
}

/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #2a292b;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;

}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #2a292b;
  border-color: #2a292b transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #2a292b;
  border-color: #2a292b;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #2a292b;
  border-color: #2a292b;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #2a292b;
  border-color: #2a292b;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #2a292b;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #2a292b;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #2a292b;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #2a292b;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #2a292b;
  border-color: #2a292b;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #2a292b;
  border-color: #2a292b;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #2a292b;
  border-color: #2a292b;
}

.page-link {
  color: #2a292b;
}

.page-link:hover {
  color: #2a292b;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}

#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li div.dropdown-menu a {
  color: black;

}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active>a,
a[aria-expanded='true'] {
  color: #fff;
  background: #232f3e;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #2a292b;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.4rem;
  color: grey;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}


.image-container:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}


.image-container .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
}


.image-container:hover .label {
  opacity: 1;
}

@media (max-width: 600px) {
  .image-container-wrapper {
    flex-direction: row;
  }

  .image-container {
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .image-container .label {
    font-size: 15px;
  }

  #products_heading {
    font-size: 15px;
    font-family: 'Cinzel', sans-serif;
  }
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  display: none;
}

.custom-carousel {
  position: relative;
  margin-top: 80px;
}

@media (max-width: 576px) {
  .col-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .card {
    padding: 0;
    width: 120%;
  }

  .card-img-top {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }

  .card-title {
    font-size: 0.875rem;
  }

  .card-text {
    font-size: 0.75rem;
  }

  .ratings {
    font-size: 0.75rem;
  }

  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    display: block;
    width: 100%;
    text-align: center;
  }
}

#no_of_reviews {
  font-size: 0.7rem;
}

.product {
  border: 1px solid grey;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
}

.caro-image {
  height: 385.7px;
}

.navbar {
  height: 70 px;
  margin-top: 0;
  padding-top: 0%;

}
.navbar row{

padding: 0px;
margin: 0px;

}
@media (max-width: 768px) { /* You can adjust the max-width value as needed */
  .caro-image {
    height: 185px; /* Set the desired height for mobile view */
  }
}
.add-but,.min-but{
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Same as width to make it square */
  background-color:#2a292b
  ; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Slightly rounded corners, adjust as needed */
  text-align: center; /* Center text */
  line-height: 40px; /* Same as height to vertically center text */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Inline-block to respect width and height */
  transition: background-color 0.3s ease; /* Smooth transition for background color */


}

.atc-but{

  width: 150px; /* Adjust the size as needed */
  height: 50px; /* Same as width to make it square */
  background-color:#2a292b
  ; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Slightly rounded corners, adjust as needed */
  text-align: center; /* Center text */
   /* Same as height to vertically center text */
  font-size: 10px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Inline-block to respect width and height */
  transition: background-color 0.3s ease; /* Smooth transition for background color */


}

.price{
  padding-right: 0;
}

.cart-count{
  padding: 0;
}

.count{
  text-align: center;
  padding: 6px;
}

.customsize{
  width: 40px; /* Set the width */
  height: 40px; /* Set the height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
  font-size: 20px; /* Adjust font size as needed */
  padding: 0;
  
}

.customsize1{
  width: 50px; /* Set the width */
  height: 40px; /* Set the height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Adjust font size as needed */
}

.minus{
  padding: 5px;
}

#root{
  width: 100%;
}

.navbar{
  padding: 0;
  width: 100%;
  margin-left: 0px;
}
.form-image {
  width: 100px;
  height: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}


.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-submit {
  display: flex;
  justify-content: center;
}
