/* ImageGallery.css */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Initially set for mobile view */
  
    /* Set gap between images */
    gap: 10px;
  }
  
  .image-wrapper {
    /* Maintain aspect ratio for images */
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  
  .image-wrapper img {
    /* Fill the container */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
  }
  
  /* Media query for desktop view */
  @media screen and (min-width: 768px) {
    .image-gallery {
      grid-template-columns: repeat(6, 1fr); /* Adjust for desktop view */
    }
  }
  