@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wishlist-page {
    padding: 15px 5vw; /* Adjust padding for responsiveness */
    background-color: #888;
    padding-bottom: 30px;
}

.wishlist-title {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.wishlist-icon {
    margin-left: 10px;
    color: red;
}

.wishlist-title-text {
    font-weight: bold;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wishlist-card {
    width: calc(20%); /* Adjust card width */
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3); /* Updated box shadow */
    background-color: #fff;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: space-between; /* Space evenly between child elements */
    align-items: center; /* Center child elements horizontally */
}

/* Adjust card width for tablets */
@media screen and (max-width: 768px) {
    .wishlist-card {
        width: calc(50% - 20px);
    }
}

/* Adjust card width for mobile devices */
@media screen and (max-width: 480px) {
    .wishlist-card {
        width: calc(100% - 20px);
    }
}

.wishlist-card-image {
    width: 140px;
    height: 160px; /* Adjust image height */
    object-fit: cover;
    border-radius: 10px;
    margin: auto; /* Center the image horizontally */
    display: block; /* Ensure the image is a block element */
}

.wishlist-card-details {
    padding: 10px 0;
}

.wishlist-card-name {
    font-size: 16px; /* Adjust font size */
    margin: 0;
    margin-bottom: 5px;
    color: black;
    font-weight: 600;
}

.wishlist-card-price {
    margin: 0;
    color: #888;
}

.wishlist-card-buttons {
    display: flex;
    justify-content: space-between;
}

.wishlist-card-remove,
.wishlist-card-add-to-cart {
    background-color: #102c57;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 14px; /* Adjust font size */
    margin-right: 8px;
    margin-left: 8px;
}

.wishlist-card-remove:hover,
.wishlist-card-add-to-cart:hover {
    background-color: #fabd10;
    color: #102c57;
}

.wishlist-button-icon {
    margin-right: 5px;
    font-size: 16px; /* Adjust font size */
}

.wishlist-empty {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #fff;
    width: calc(100% - 30px); /* Adjust width for responsiveness */
    padding: 50px;
    margin: 20px auto; /* Center the element horizontally */
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
